@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 28 20% 15%;
    --card: 60 56% 95%;
    --card-foreground: 28 20% 15%;
    --popover: 60 56% 95%;
    --popover-foreground: 28 20% 15%;
    --primary: 28 32% 50%;
    --primary-foreground: 60 56% 91%;
    --secondary: 60 20% 85%;
    --secondary-foreground: 28 20% 15%;
    --muted: 60 20% 85%;
    --muted-foreground: 28 15% 40%;
    --accent: 120 25% 65%;
    --accent-foreground: 28 20% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 88%;
    --ring: 28 32% 50%;
    --chart-1: 28 32% 50%;
    --chart-2: 120 25% 65%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 28 10% 10%;
    --foreground: 60 56% 91%;
    --card: 28 10% 12%;
    --card-foreground: 60 56% 91%;
    --popover: 28 10% 10%;
    --popover-foreground: 60 56% 91%;
    --primary: 28 32% 50%;
    --primary-foreground: 60 56% 91%;
    --secondary: 28 10% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 28 10% 20%;
    --muted-foreground: 60 30% 70%;
    --accent: 120 25% 65%;
    --accent-foreground: 28 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 28 10% 20%;
    --input: 28 10% 15%;
    --ring: 28 32% 50%;
    --chart-1: 28 32% 50%;
    --chart-2: 120 25% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
